[Unit]
Description=Mount and setup fraud analytics config
Requires=network-online.target cloud-config.target
After=network-online.target cloud-config.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env /bin/bash /usr/bin/fraud_analytics_config.sh
RemainAfterExit=yes
TimeoutSec=0 

StandardOutput=journal+console

[Install]
WantedBy=multi-user.target default.target
