[Unit]
Description=Run fraud analytics app
Requires=fraud_analytics_config.service
After=fraud_analytics_config.service

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/pim/env.conf

[Container]
Image=quay.io/<account id>/pim:fraud-analytics
Network=host
Volume=/etc/pim/models:/opt/models
SecurityLabelType=unconfined_t
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
