[Unit]
Description=Run fraud analytics app

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/pim/env.conf

[Container]
Image=na.artifactory.swg-devops.com/sys-pcloud-docker-local/devops/pim/fraud-analytics
Network=host
SecurityLabelType=unconfined_t
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
