[Unit]
Description=Run email named entity recognition app
Requires=vllm.service
After=vllm.service

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/pim/env.conf

[Container]
Image=quay.io/<account id/pim:email-ner-app
Network=host
EnvironmentFile=/etc/pim/email_ner.conf
SecurityLabelType=unconfined_t
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
