[Unit]
Description=Mount and setup LLM config
Requires=base_config.service
After=base_config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env /bin/bash /usr/bin/llm_config.sh
RemainAfterExit=yes
TimeoutSec=0 

StandardOutput=journal+console

[Install]
WantedBy=multi-user.target default.target
