[Unit]
Description=Run vLLM OpenAI API server
Requires=llm_config.service
After=llm_config.service

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/pim/env.conf

[Container]
Image="$LLM_IMAGE"
Network=host
Volume=/var/huggingface:/var/huggingface
SecurityLabelType=unconfined_t
Exec="$LLM_ARGS"
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
