[Unit]
Description=Run simple entity extraction app
Requires=vllm.service
After=vllm.service

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/pim/env.conf

[Container]
Image=<your registry>/pim:entity-extraction
Network=host
SecurityLabelType=unconfined_t
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
