cmake
pyyaml
joblib
pydot
ibm_db
flask
pandas
accelerate
mapepire-python
meson-python
ninja
transformers
threadpoolctl
setuptools
cython
pkgconfig
sklearn-pandas
keras

#Installing packages to make openblas work
wheels/av-14.0.1+opence-cp312-cp312-linux_ppc64le.whl
certifi==2024.12.14
charset-normalizer==3.4.1
wheels/ffmpeg-7.1+opence-py3-none-linux_ppc64le.whl
filelock==3.16.1
fsspec==2024.12.0
idna==3.10
Jinja2==3.1.5
wheels/lame-3.100+opence-py3-none-linux_ppc64le.whl
wheels/libprotobuf-4.25.3+opence-py3-none-any.whl
wheels/libvpx-1.13.1+opence-py3-none-linux_ppc64le.whl
wheels/llvmlite-0.44.0rc1+opence-cp312-cp312-linux_ppc64le.whl
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
wheels/numba-0.62.0.dev0-cp312-cp312-linux_ppc64le.whl
wheels/opus-1.3.1+opence-py3-none-linux_ppc64le.whl
pillow==11.1.0
wheels/protobuf-4.25.3+opence-cp312-cp312-linux_ppc64le.whl
requests==2.32.3
wheels/sentencepiece-0.2.0+opence-cp312-cp312-linux_ppc64le.whl
setuptools==75.8.0
sympy==1.13.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0


#Installing the wheels
wheels/scikit_learn-1.6.0-cp312-cp312-linux_ppc64le.whl
wheels/abseil_cpp-20240116.2+opence-py3-none-linux_ppc64le.whl  
wheels/openblas-0.3.28+opence-py3-none-linux_ppc64le.whl
wheels/bazel-6.5.0+opence-py3-none-linux_ppc64le.whl     
wheels/h5py-3.11.0-cp312-cp312-linux_ppc64le.whl                
wheels/scipy-1.14.1+opence-cp312-cp312-linux_ppc64le.whl
wheels/hdf5-1.12.1+opence-py3-none-linux_ppc64le.whl            
wheels/tensorflow-2.18.0-cp312-cp312-linux_ppc64le.whl
wheels/numpy-2.2.1+opence-cp312-cp312-linux_ppc64le.whl

#Attempts to resolve grpcio error
wheels/grpcio-1.60.0-cp312-cp312-linux_ppc64le.whl

#Not sure if needed
wheels/snapml-1.16.1+opence-cp312-cp312-linux_ppc64le.whl
