[Unit]
Description=Run simple HMC AI agent application and MCP server
Requires=hmc_config.service
After=hmc_config.service

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/pim/env.conf

[Container]
Image=na.artifactory.swg-devops.com/sys-pcloud-docker-local/devops/pim/apps/hmc_agent
Network=host
EnvironmentFile=/etc/pim/hmc.conf
PodmanArgs=--entrypoint='["python3", "server.py"]'
SecurityLabelType=unconfined_t
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
