[Unit]
Description=Run vLLM OpenAI API server

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/pim/env.conf

[Container]
Image="$LLM_IMAGE"
Network=host
SecurityLabelType=unconfined_t
Exec="$LLM_ARGS"
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
